.enable2fa-step2 {
	gap: 1rem;
}

.enable2fa-step2 .inputs {
	margin: 20px 0;
	gap: 0.5rem;
}

.enable2fa-step2 .inputs .input {
	width: 60px;
	height: 75px;
	border-radius: 10px;
	text-align: center;
	font-size: 30px;
	color: #333;
	background: var(--white);
	transition: all 0.2s ease;
}

.enable2fa-step2 .inputs .separator {
	font-size: 20px;
	color: var(--white);
	margin: 0 4px;
}

.enable2fa-step2 .inputs .input::placeholder {
	color: #cccccc;
}

.enable2fa-step2 .inputs .input:focus {
	border: none;
	outline: none;
	box-shadow: 0 0 0 0px none;
}
